audio
{
    position: absolute;
    width: 0px;
    height: 0px;
}



body{
    padding: 0;
    margin:0;
    overflow: hidden;
 }
 /* * {
    font-family: 'Nothing You Could Do', cursive;
 } */
#back-ground{
    background: url('theroom.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* /* background-attachment: fixed; */
    background-size: 100% 100%;
    transition: all 2s;
 }
.scaleMirror {
    background-position: -435px -10px !important;
    transform:  scale(3);
}
.scaleTable {
    background-position: 190px -57px !important;
    transform: scale(5);
}

#back {
    position: absolute;
    width: 15px;
    height: 15px;
    /* background-color: blueviolet; */
    top: 50%;
    left: 50%;
    transform: translate(-109px, -57px);
}
#back > img {
    width: 20px
}
#bag
{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(660%,320%);
}
#bag > img 
{
    width: 70px;
    bottom: 10%;
}

#bottle {
    position: absolute;
    width: 13px;
    height: 31px;
    /* background-color: black; */
    top: 50%;
    left: 50%;
    transform: translate(-43px, -44px) !important;
}

#table {
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: green; */
    top: 50%;
    left: 30%;
    transform: translate(5px,20px)
} 

#mirror {
    position: absolute;
    width: 200px;
    height: 400px;
    top: 10%;
    right:2%;
    transform: translate(5px,40px);
    /* background-color: red;  */
}
p 
{
    position: absolute;
    top: 50%;
    right: 35%;
    font-family: 'Nosifer' , cursive;
    font-size: 6px;
    font-weight: 100
}
#msg1
{
    position: absolute;
    top: 55%;
    right:35%;
    font-family: "Nosifer", cursive;
    font-size: 6px;
    font-weight: 100;
    color:red;
}

#drawers {
    position: absolute;
    width: 130px;
    height: 50px;
    bottom: 20%;
    right:5%;
    /* background-color: blue;  */
    transform: translate(30px,15px)
}

#door {
    position: absolute;
    width: 120px;
    height: 250px;
    top : 15%;
    right : 25%;
    /* background-color: aqua;  */
    transform: translate(70px,125px)
}

#papers {
    position: absolute;
    width: 240px;
    height: 50px;
    bottom: 20%;
    left: 20%;
    transform: translate(119px,104px);
    /* background-color: green; */
}

#newspaper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20%;
    left: 10%;
    transform: translate(82px,100px);
    /* background-color: red */
}

#match {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#messagebottle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: red;
    align-content: center;
    font-size: 10px;
    font-family: 'Nosifer', cursive;
    box-shadow: 0px 2px 4px #cccccc;
    border-radius: 5px;
}

#safelock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color:#ea4a15;
    font-size: 200%;
    padding: 10px;
    box-shadow: 0px 2px 4px #cccccc;
    font-family: 'Nothing You Could Do', cursive;
    border-radius: 5px;
}
#candle {
    position: absolute;
    width: 8px;
    height: 32px;
    /* background-color: black; */
    top: 50%;
    left: 50%;
    transform: translate(-23px, -44px) !important;
}
#broken_glass {
    position: absolute;
    width: 16px;
    height: 20px;
    /* background-color: black; */
    top: 50%;
    left: 50%;
    transform: translate(-10px, -31px) !important;
}
#counter 
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 5%;
    left :90%;
    font-size: 50px;
    color: #f9d301;
    font-family: 'Poller One', cursive;
}
#oil-lamp
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-241%, -309%);
}
#oil-lamp > img {
    width: 10px;
}
#oldmessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#oldmessage > img {
    width: 150px;
}
#findyourself
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -9%)
}
#findyourself > img
{
    width: 300px;
}
#inventory
{
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: rgb(105, 104, 105);
    box-shadow: 0px 2px 4px #000000;
    border-radius: 5px;
    bottom: 2%;
    right: 15%;
    justify-content: space-around;
    align-items: center;
}
#key1
{
    bottom: 0
}
#key1 > img
{
    width: 50px;
}
#match2
{
    bottom: 0;
    right: 18%;
}
#match2 > img
{
    width: 80px;
}
#hook1{

    bottom: 0;
    right: 15%;
}
#hook1 > img
{
    width: 40px;
}
/*  */