body{
    padding: 0;
    margin:0;
    overflow: hidden;
 }
#back-ground{
    background: url('theroom.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* /* background-attachment: fixed; */
    background-size: 100% 100%;
    transition: all 2s;
 }
.scaleMirror {
    background-position: -435px -10px !important;
    transform:  scale(3);
}
.scaleTable {
    background-position: 190px -57px !important;
    transform: scale(5);
}

#back {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: blueviolet;
    top: 50%;
    left: 50%;
    transform: translate(-109px, -57px) !important;
}

#bottle {
    position: absolute;
    width: 13px;
    height: 31px;
    /* background-color: black; */
    top: 50%;
    left: 50%;
    transform: translate(-43px, -44px) !important;
}

#table {
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: green; */
    top: 50%;
    left: 30%;
    transform: translate(5px,20px)
} 

#mirror {
    position: absolute;
    width: 200px;
    height: 400px;
    top: 10%;
    right:2%;
    transform: translate(5px,40px);
    /* background-color: red;  */
}
p 
{
    position: absolute;
    top: 50%;
    right: 35%;
    font-family: 'Nosifer' , cursive;
    font-size: 9px;
}
#msg1
{
    position: absolute;
    top: 55%;
    right:35%;
    font-family: "Nosifer", cursive;
    font-size: 9px;
    color:red;
}

#drawers {
    position: absolute;
    width: 130px;
    height: 50px;
    bottom: 20%;
    right:5%;
    /* background-color: blue;  */
    transform: translate(30px,15px)
}

#door {
    position: absolute;
    width: 120px;
    height: 250px;
    top : 15%;
    right : 25%;
    /* background-color: aqua;  */
    transform: translate(70px,125px)
}

#papers {
    position: absolute;
    width: 240px;
    height: 50px;
    bottom: 20%;
    left: 20%;
    transform: translate(119px,104px);
    /* background-color: green; */
}

#newspaper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20%;
    left: 10%;
    transform: translate(82px,100px);
    /* background-color: red */
}

#match {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#messagebottle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: red;
    font-family: montserrat;
}

#safelock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: red;
    font-family: montserrat;
    font-size: 200%;
}
#candle {
    position: absolute;
    width: 8px;
    height: 32px;
    /* background-color: black; */
    top: 50%;
    left: 50%;
    transform: translate(-23px, -44px) !important;
}
#broken_glass {
    position: absolute;
    width: 16px;
    height: 20px;
    /* background-color: black; */
    top: 50%;
    left: 50%;
    transform: translate(-10px, -31px) !important;
}
#counter 
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10%;
    left :50%;
    font-size: 50px;
    color: red;
    
}