body
{
    margin: 0;
    padding: 0;
    background: black
}
a
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-357%,236%);
    width: 20px;
    height: 10px;
    text-align: center;
    line-height:12px;
    color: red;
    font-size: 7px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #a80303, rgb(133, 4, 4), rgba(61, 1, 1, 0.925),#000);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
a:hover
{
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}
a:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, red, blue, green, black, pink, orange, yellow, white);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    filter: blur(50px)
}
a:hover:before
{
    filter: blur(50px);
    opacity: 1;
    animation: animate 8s linear infinite;
}